@{
    ViewBag.Title = "MAIN";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}
@Html.Hidden("hdUrl", Url.Action("Action", "Home"))
<h4 class="page-header" style="margin: 10px;"><strong>Main</strong></h4>
<div class="row">
    <div class="col-sm-8">
        <div class="form-inline">
            <div class="form-group">
                <label for="from">Mentor:</label>
                <input id="mentor" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="to">Mentee:</label>
                <input id="mentee" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="to">Period:</label>
                <select class="form-control" id="selPeriod">
                    <option></option>
                </select>
            </div>
            <button type="button" id="btnSearch" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>

        </div>
    </div>

    <div class="col-sm-4">
        <button id="btnModify" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>Modify</button>
        <button id="btnSave" class="btn btn-primary" type="button" data-action="0" data-emp=""><span class="glyphicon glyphicon-file"></span>Save</button>
        <button id="btnExport" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-export"></span>Export</button>
    </div>

</div>
<div class="table-responsive">
    <table id="tbMainDefault" class="table table-bordered">
        <thead>
            <tr class="tbheader">
                <th rowspan="2" style="vertical-align: middle;">#</th>
                <th rowspan="2" style="vertical-align: middle;">Em ID</th>
                <th rowspan="2" style="vertical-align: middle;">Picture</th>
                <th rowspan="2" style="white-space: nowrap; vertical-align: middle;">Full Name</th>
                <th rowspan="2" style="vertical-align: middle;">Period</th>
                <th colspan="5" style="vertical-align: middle;">OJT Plan</th>
                <th rowspan="2" style="vertical-align: middle;">Approval Status</th>
                <th colspan="4" style="vertical-align: middle;">Training Record</th>
                <th rowspan="2" style="vertical-align: middle;">Comment By Manager</th>
                <th rowspan="2" style="vertical-align: middle;">Comment By HR</th>
                <th colspan="3" style="vertical-align: middle;">Evaluation Result</th>
            </tr>
            <tr>
                <th style="vertical-align: middle;">Current Status</th>
                <th style="vertical-align: middle;">Course Content</th>
                <th style="vertical-align: middle;">Level</th>
                <th style="vertical-align: middle;">Start Date</th>
                <th style="vertical-align: middle;">End Date</th>
                <th style="vertical-align: middle;">Learning Outcomes</th>
                <th style="vertical-align: middle;">Activities Record</th>
                <th style="vertical-align: middle;">Start Date</th>
                <th style="vertical-align: middle;">End Date</th>
                <th style="vertical-align: middle;">Testing Time</th>
                <th style="vertical-align: middle;">Score</th>
                <th style="vertical-align: middle;">Level</th>
            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>

